.list--vitrine-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  row-gap: 1rem;
  -webkit-column-gap: 1rem;
  background-color: #f6f6f6;
  padding: 0.5em;
}

.item--vitrine-grid {
  padding: 0.5em;
  background: rgb(230, 229, 229);
}

.item--vitrine-grid::marker {
  content: "";
  color: transparent;
}

/** BRAND IMAGES**/
.list--brand-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: 0.5em;
}

.item--brand-grid:nth-child(4n) {
  grid-column-start: 1;
  grid-column-end: 4;
}

@media only screen and (max-width: 1024px) {
  .list--vitrine-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 680px) {
  .list--vitrine-grid,
  .list--brand-grid {
    grid-template-columns: 1fr;
  }

  .item--brand-grid:nth-child(4n) {
    grid-column: 1
  }
}