.flexRow--w-100 {
  width: 100%;
}

.flexRowContent--h-100 {
  height: 100%;
}

.flexRow--h-100 .stretchChildrenWidth{
  height: 100%;
}

.flexRowContent--items-center {
  align-items: center;
}

.flexRow--spacer-block {
  display: flex;
  flex-grow: 1
}

.flexCol--justify-between {
  justify-content: space-between;
}

.flexRow--bgBlack {
  background-color: #000;
}

.flexRowContent--column {
  flex-flow: column;
}

.flexRowContent--column .stretchChildrenWidth {
  flex-flow: column;
  width: 100% !important;
}

.flexRowContent--bottom-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: center;
  gap: 10px;
}

.flexRowContent--bottom-container .stretchChildrenWidth:nth-child(0n+1){
  grid-area: 1/1/1/3;
}

.flexRowContent--bottom-container .stretchChildrenWidth:nth-child(0n+2){
  grid-area: 2/1/2;
  justify-content: flex-end;
}

.flexRowContent--bottom-container .stretchChildrenWidth:nth-child(0n+3){
  grid-area: 2/2/3;
  justify-content: flex-start;
}

@media only screen and (min-width: 680px) {
  .flexRowContent--bottom-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
  }

  .flexRowContent--bottom-container .stretchChildrenWidth:nth-child(0n+1){
    grid-area: unset;
    width: auto !important;
  }
  
  .flexRowContent--bottom-container .stretchChildrenWidth:nth-child(0n+2){
    grid-area: unset;
    justify-content: unset;
    width: auto !important;
  }
  
  .flexRowContent--bottom-container .stretchChildrenWidth:nth-child(0n+3){
    grid-area: unset;
    justify-content: unset;
    width: auto !important;
  }
}