/** SEARCH BAR*/

.searchBarInnerContainer :global(.vtex-input-prefix__group) {
  border: #7A7A7A 1px solid;
  border-radius: 100px;
}

.searchBarInnerContainer :global(.vtex-styleguide-9-x-input),
.searchBarInnerContainer :global(.vtex-styleguide-9-x-input)::placeholder {
  color: #000;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 14px;
}

.searchBarInnerContainer .searchIcon {
  width: 25px;
  height: 25px;
}