.trigger {
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.trigger--pl0 {
  padding-left: 0;
}

.trigger--bgBlack {
  background-color: #000;
  border: none;
}

.trigger--indicator-white  :local(svg){
  color: white;
}