.stackContainer--border-gray {
  border: 1px solid #EDE9E9;
}

.stackItem--bgYellow {
  background-image: url("/arquivos/star-background.png");
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stackItem--text-15 {
  font-size: 0.938rem;
}

.stackItem--bold {
  font-weight: bold;
}

.stackItem--c-blue {
  color: #2E3192;
}